.footer {
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(120, 120, 120, 0.5);
  -moz-box-shadow: 0px 0px 4px 1px rgba(120, 120, 120, 0.5);
  box-shadow: 0px 0px 4px 1px rgba(120, 120, 120, 0.5);
  border: 1px solid rgb(235, 235, 235);
  margin: 0;
  grid-gap: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
