.productslider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.productslider button {
  border: 0ch;
  background: none;
}

.sliderLeftButton {
  text-align: start;
}

.sliderRightButton {
  text-align: end;
}
